In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv('C:\\Users\\601-30\\Desktop\\dsbay2\\DSBAY2\\datasets\\student-results.csv')

In [10]:
# Display the first few rows of the dataframe
data.head(6)

   date  month  year gender  total m  obtain m
0     1      1  2025   male      555       551
1     2      1  2025   male      555       550
2     3      1  2025   male      555       540
3     4      1  2025   male      555       534
4     5      1  2025   male      555       521
5     6      1  2025   male      555       512